.contenedor-main{
  padding-top: 50px;
}

h2{
  padding: 30px;
}


img {
 width: 250px;
 height: 250px;
  padding: 30px ;

}


header{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

    html, body {
      height: 100%;
    }

